  html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* centreert verticaal */
  background-color: #111; /* optioneel, mooier contrast */
}

canvas {
  display: block;
}